# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\yyx\Desktop\jeethink快速开发框架（前后分离工作流）\jeethink快速开发框架（前后分离工作流版）\jeethink\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
